{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h1>{{ title }}</h1>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{% url "blog:detail" pk=post.pk %}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Posts available.</p>
    {% endif %}
    <br>
    <div>
        <a class="back-link" href="#">{% trans "Back" %}</a>
    </div>
{% endblock %}